cycler==0.10.0
kiwisolver==1.1.0
matplotlib==3.1.1
numpy==1.17.1
pandas==0.25.1
pkg-resources==0.0.0
pyparsing==2.4.2
python-dateutil==2.8.0
pytz==2019.2
ruamel.yaml==0.16.5
ruamel.yaml.clib==0.1.2
six==1.12.0
vext==0.7.3
vext.gi==0.7.0
